@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Ubuntu', sans-serif;
}
body {
  min-height:100vh;
  overflow:hidden;
}


@media screen and (min-width:767px){
.desktop{
  background:url("./images/bg-sidebar-desktop.svg");
  background-size:cover;
  border-radius:20px;
}
}
/* @font-face{
  font-family:"ubuntu";
  src:url("../public/fonts/Ubuntu-Regular.ttf")
} */




