@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  min-height:100vh;
  overflow:hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media screen and (min-width:767px){
.desktop{
  background:url("./images/bg-sidebar-desktop.svg");
  background-size:cover;
  border-radius:20px;
}
}
/* @font-face{
  font-family:"ubuntu";
  src:url("../public/fonts/Ubuntu-Regular.ttf")
} */




